#footer {
  display: flex;
  background-color: var(--sl-color-neutral-200, grey);
}

.footer-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  hr {
    width: 30%;
  }

  h3 {
    margin-bottom: 0;
  }
}
